<div class="tudo">
  <div class="img3Homens">
      <img src="../../../assets/foto-destaque.jpg">
  </div>

  <div class="escritaSobre">
      <p> A Fena Alarmes atua com sistema de Monitoramento, Segurança Eletrônica e Rastreamento Veicular.
          Os serviços atendem casas, indústrias, estabelecimentos comerciais e condomínios residenciais,
          com soluções voltadas a proteger os imóveis e garantir segurança aos clientes.</p>
      <p>Com intuito de garantir qualidade na prestação de serviços a empresa oferece a seus colaboradores,
          cursos para maior aperfeiçoamento em todas as áreas de atuações. Também propicia a participação em
          feiras na área de segurança em busca de novas tecnologias, oferecendo sempre novidades e atendendo com
          qualidade as necessidades dos clientes. </p>
  </div>
</div>
