
<!DOCTYPE html>
<head></head>
<html>
  <body>
    <form class="form-horizontal">
      <fieldset>
<div class="tudo">
<div class="tudo2" >
    <div class="titulo">Cadastro de Cliente</div>

    <div class="panel-body">

<div class="bordaCadastroC">
<div class="nome">
  <label class="col-md-2 control-label" for="Nome">Nome </label>
  <div class="col-md-8">
  <input id="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text">
  </div>
</div>

  <label class="nascimento" for="Nome">Nascimento</label>
  <div class="nascimento">
  <input id="dtnasc" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
</div>

  <label class="sexo" for="radios">Sexo</label>
  <div class="sexo">
    <label required="" class="radio-inline" for="radios-0" >
      <input name="sexo" id="sexo" value="feminino" type="radio" required>
      Feminino
    </label>
    <label class="rM" for="radios-1">
      <input name="sexo" id="sexo" value="masculino" type="radio">
      Masculino
    </label>
  </div>


<div class="email">
  <label class="email" for="prependedtext">Email</label>
  <div class="col-md-5">
    <div class="emailB">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
    </div>
  </div>
</div>

<div class="senha">
  <label class="senha" for="CEP">Senha </label>
  <div class="senhaB">
    <input id="cep" name="cep" placeholder="Apenas números:" class="form-control input-md" required="" value="" type="search" maxlength="8" pattern="[0-9]+$">
  </div>

  <div class="form-group">
      <label class="col-md-2 control-label" for="Cadastrar"></label>
  <div class="cd">
    <button class="" id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
    <div class="cc">
    <button class="" id="Cancelar" name="Cancelar" class="btn btn-danger" (click)="cancelarCadastro()" type="Reset">Cancelar</button>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</fieldset>
</form>
</body>
</html>
