<div class="tudo">
  <div class="imgM">
      <img src="../../../assets/matheus.jpg" alt="" srcset="">
  </div>

  <div class="escritaM">
      <p>
          Nome: Matheus Carlos Ribeiro
          Email: matheuscarlos@gmail.com
          Skype: matheus_ribeiro@skype
          Telefone: (47)98849-7455
      </p>
  </div>

  <div class="imgN">
      <img src="../../../assets/nicolas.jpg" alt="" srcset="">
  </div>

  <div class="escritaN">
      Nome: Nicolas do Prado Schmitt
      Email: nicolasPrado@gmail.com
      Skype: nicolas_molhadinho@skype
      Telefone: (47)99671-2237
  </div>
</div>
