<!--The content below is only a placeholder and can be replaced.-->
<!--<a [routerLink]="[ 'home/home-carousel' ]" routerLinkActive="active">Home</a>><br>-->
<!--<a [routerLink]="[ 'galeria/master-galeria' ]" routerLinkActive="active">CRUD</a>><br>-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Fena Alarmes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" [routerLink]="[ 'home/home-carousel' ]" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="[ 'sobre' ]" routerLinkActive="active">Sobre</a>
          <a class="nav-item nav-link" [routerLink]="[ 'galeria/manter-galeria' ]" routerLinkActive="active">Cadastro</a>
          <a class="nav-item nav-link"[routerLink]="[ 'servicos' ]" routerLinkActive="active">Serviços</a>
          <a class="nav-item nav-link" [routerLink]="[ 'fale-conosco' ]" routerLinkActive="active">Fale conosco</a>
          <div class="nav-login"><a class="nav-item nav-link" [routerLink]="[ 'login' ]" routerLinkActive="active">Login</a></div>
        </div>
      </div>
    </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

<body>
<div class="content">
</div>
<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h2 class="logo"><a > Fena Alarmes </a></h2>
          </div>
          <div class="col-sm-2">
              <h5>Inicio</h5>
              <ul>
                  <li><a >Home</a></li>
                  <li><a >Cursos</a></li>
                  <li><a >Downloads</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>Sobre-nós</h5>
              <ul>
                  <li><a >Informações da Empresa</a></li>
                  <li><a >Contato</a></li>
                  <li><a >Blog</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>Suporte</h5>
              <ul>
                  <li><a>FAQ</a></li>
                  <li><a >Telefones</a></li>
                  <li><a >Chat</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <a >
                  <button type="button" class="btn btn-default">Contato</button>
              </a>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© 2019 Copyright - Fena Alarmes </p>
  </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>


