<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form-1">
          <form>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Seu email:" value="" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder=" Sua senha: " value="" />
              </div>
              <div class="form-group">
                  <input type="button" class="btn btn-primary"  href="manter-galeria.componet.html" value="Login"/>
              </div>
              <div class="form-group">
                  <a class="nav-item nav-link" [routerLink]="['cadastro']" routerLinkActive="active">Ainda não é cadastrado?</a>
              </div>
          </form>
      </div>
  </div>
</div>
